@import url('./Top.css');

/* KoddiUD 온고딕 */
@font-face {
  font-family: 'KoddiUDOnGothic';
  font-style: normal;
  font-weight: 700;
  src:
    url(./fonts/KoddiUDOnGothic-ExtraBold.woff2) format('woff2'),
    url(./fonts/KoddiUDOnGothic-ExtraBold.woff) format('woff'),
    url(./fonts/KoddiUDOnGothic-ExtraBold.otf) format('opentype');
}

@font-face {
  font-family: 'KoddiUDOnGothic';
  font-style: normal;
  font-weight: 500;
  src:
    url(./fonts/KoddiUDOnGothic-Bold.woff2) format('woff2'),
    url(./fonts/KoddiUDOnGothic-Bold.woff) format('woff'),
    url(./fonts/KoddiUDOnGothic-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'KoddiUDOnGothic';
  font-style: normal;
  font-weight: 400;
  src:
    url(./fonts/KoddiUDOnGothic-Regular.woff2) format('woff2'),
    url(./fonts/KoddiUDOnGothic-Regular.woff) format('woff'),
    url(./fonts/KoddiUDOnGothic-Regular.otf) format('opentype');
}

body,
th,
td,
input,
select,
textarea,
button {
  font-size: 14px;
  font-family: 'KoddiUDOnGothic', 'Apple SD Gothic Neo', sans-serif;
}

html,
body,
#app {
  height: 100%;
}
.badge_head {
  display: block;
  position: absolute;
  top: 15px;
  left: 260px;
  padding: 2px 3px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 12px;
  color: #333;
  background-color: #ffef3f;
}

.d2h-file-wrapper {
  padding-bottom: 2px;
}
.d2h-file-header {
  height: 18px;
}
.d2h-changed-tag {
  padding: 0 5px;
}
.d2h-diff-table {
  font-size: 11px;
}

.d2h-file-list-header,
.d2h-file-name-wrapper {
  display: none;
}
